spring:
  application:
    name: servicio-arquetipo

server:
  port: 8080

---
spring:
  config:
    activate:
      on-profile: dev

server:
  port: 8081

---
spring:
  config:
    activate:
      on-profile: prod

server:
  port: 8080
